<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto mt-4">
      <h2 class="h4 font-weight-normal"><mark class="bg-light">管理者ログイン</mark></h2>
    </div>
  </div>
    
      <div class="row d-flex justify-content-center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inline">
              <%= f.label :email, 'メールアドレス', class: "w-50" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-50" %>
            </div>
        
          <div class="form-inline">
            <%= f.label :password, 'パスワード', class: "w-50" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "w-50"%>
          </div>
        
          <div class="actions text-center">
            <%= f.submit "Log in",class: "btn btn-primary" %>
          </div>
        <% end %>
        
        <%= render "admin/shared/links" %>
      </div>
      
  </div>
</div>
