<%= form_with model: delivery do |f| %>
  <table>
    <tbody>
      <tr>
        <td><a>郵便番号(ハイフンなし)</a></td>
        <td><%= f.text_field :postcode, size: 15 %></td>
      </tr>
      <tr>
        <td><a>住所</a></td>
        <td><%= f.text_field :address, size: 50 %></td>
      </tr>
      <tr>
        <td><a>宛名</a></td>
        <td><%= f.text_field :name, size: 15 %></td>
        <td><%= f.submit "新規登録", class: 'btn btn-success' %></td>
      </tr>
    </tbody>
  </table>
<% end %>