<div class="container">

<h2>注文履歴詳細</h2>

<table class="table">
  <tbody>
    <tr>
      <td>購入者</td>
      <td>
        <%= link_to admin_order_path(@order) do %>
        <%= @order.custmer.full_name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>注文日</td>
      <td> <%= @order.created.at.to_s(:datemime_jp) %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.custmer.postal_code %>
          <%= @order.custmer.address %>
      </td>
    </tr>
    <tr>
      <td>支払い方法</td>
      <td>
        <%= @order.payment %>
      </td>
    </tr>
    <tr>
      <td>注文ステータス</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>