<div class='container'>
  <div class='row'>
    <h2 class="text-center w-25 h4 bg-light mt-3">注文履歴詳細</h2>

    <div class='col-12 mt-3'>
      <h2 class="w-25 h4 mt-3">注文情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark">注文日</td>
            <td><%= @order.created_at %></td>
          </tr>
          <tr>
            <td class="table-active text-dark">配達先</td>
            <td><%= @order.postal_code %></br>
              <%= @order.address %></br>
              <%= @order.name %></td>
          </tr>
          <tr>
            <td class="table-active text-dark">支払方法</td>
            <td><%= @order.payment %></td>
          </tr>
          <tr>
            <td class="table-active text-dark">ステータス</td>
            <td><%= @order.status %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='col-4 mt-3'>
      <h2 class="w-25 h4 mt-3">請求情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark">商品合計</td>
            <td><% @order.billing_amount %>
              <% total = @order.billing_amount - @order.postage %>
              <%= total %></td>
          </tr>
          <tr>
            <td class="table-active text-dark">配送料</td>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <td class="table-active text-dark">ご請求額</td>
            <td>
              <%= @order.billing_amount %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

      <%#= 注文商品%>
      <h2 class="w-25 h4 mt-3">注文内容</h2>
      <%#= render "order_product", cart_items: @order_detail, total: @total %>
        <div class='col-8 mt-3'>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark">商品名</td>
            <td class="table-active text-dark">単価(税込み)</td>
            <td class="table-active text-dark">数量</td>
            <td class="table-active text-dark">小計</td>
          </tr>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.item.price * order_detail.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>