<div class="container">
  <div class="row">
      <%= render 'genres', genres: @genres %>
    <div class="col-9">
      <h3><strong>商品一覧</strong>(全<%= @items.count %>件)</h3>

      <table>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: '200x100' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= item.name %></td>
            </tr>
            <tr>
              <td>￥<%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>